@media screen and (min-width: 112.5em) {
    #sidebar {
        display: block;
        transform: scale(0.8);
    }
    #h1 {
        transform: translate(195%);
    }
    #box-1 {
        transform: scale(0.21) translate(20%, -180%);
    }
    #box-2 {
        transform: scale(0.21) translate(0%, -180%);
    }
    #box-3 {
        transform: scale(0.21) translate(-20%, -180%);
    }
    #box-4 {
        transform: scale(0.21) translate(20%, -180%);
    }
    #box-5 {
        transform: scale(0.21) translate(0%, -180%);
    }
    #box-6 {
        transform: scale(0.21) translate(-20%, -180%);
    }
}

body {
    background-color: #08030c;
}

@font-face {
    font-family: 'Mysteria-Nouveau';
    font-style: normal;
    src: url(../fonts/Mysteria-Nouveau.ttf);
}

#header {
    font-family: 'Mysteria-Nouveau';
    color: #9868e7;
    font-size: 65px;
    width: 100%;
    margin-bottom: -100px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#h1 {
    width: 400px;
}

#sidebar {
    position: fixed;
    left: -13px;
    top: -130px;
    z-index: 101;
    background: #2b193b;
    height: 1300px;
    width: 130px;
    font-size: 25px;
    overflow: hidden;
}
.option {
    left: 5px;
    border-radius: 20px;
    opacity: 70%;
    width: 120px;
}
.option:nth-child(1) {
    height: 100px;
    position: absolute;
    top: 300px;
}
.option:nth-child(2) {
    height: 160px;
    position: absolute;
    top: 513px;
}
.option:nth-child(3) {
    height: 100px;
    position: absolute;
    top: 800px;
}
.option img {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
#page2-img {
    height: 160px;
}
#page3-img {
    height: 90px;
}
.option:hover {
    opacity: 100%;
    background: #5e3780;
}
#page3 {
    opacity: 100%;
    background: #5e3780;
}

.container {
    height: 100vh;
    width: 88%;
    transform: translate(10%, 10%);
}
.box {
    position: absolute;
    background-color: #08030c;
    left: -100%;
    top: -150%;
    scale: 0.4;
}
#box-1 {
    left: -145%;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#box-2 {
    left: -105%;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#box-3 {
    left: -65%;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#box-4 {
    left: -145%;
    top: -100%;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#box-5 {
    left: -105%;
    top: -100%;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#box-6 {
    left: -65%;
    top: -100%;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.inner-img {
    position: absolute;
    top: 35%;
    left: 48%;
    transform: scale(9);
}
#inner5 {
    left: 46%;
    transform: scale(7);
}

span {
    font-family: 'Mysteria-Nouveau';
    font-size: 450px;
    position: absolute;
}
.name {
    color: #08030c;
    left: 27%;
    top: 60%;
}
#name5 {
    left: 15%;
}
.price {
    left: 40%;
    top: 75%;
}

img {
    pointer-events: none;
    user-select: none;
}
@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}
