/* * {
    outline: 4px solid green !important;
} */
@media screen and (min-width: 20em) {
    #sidebar {
        display: none;
    }
    #h1 {
        transform: scale(0.8) translate(5%);
    }
    #box-1 {
        transform: scale(0.1) translate(-110%, -400%);
    }
    #box-2 {
        transform: scale(0.1) translate(-300%, -400%);
    }
    #box-3 {
        transform: scale(0.1) translate(-740%, -280%);
    }
    #box-4 {
        transform: scale(0.1) translate(15%, -520%);
    }
    #box-5 {
        transform: scale(0.1) translate(-425%, -400%);
    }
    #box-6 {
        transform: scale(0.1) translate(-615%, -400%);
    }
}
@media screen and (min-width: 37.5em) {
    #h1 {
        transform: scale(0.9) translate(30%);
    }
    #box-1 {
        transform: scale(0.12) translate(-80%, -330%);
    }
    #box-2 {
        transform: scale(0.12) translate(-197%, -330%);
    }
    #box-3 {
        transform: scale(0.12) translate(-606%, -200%);
    }
    #box-4 {
        transform: scale(0.12) translate(66%, -399%);
    }
    #box-5 {
        transform: scale(0.12) translate(-343%, -270%);
    }
    #box-6 {
        transform: scale(0.12) translate(-460%, -270%);
    }
}
@media screen and (min-width: 56.25em) {
    #h1 {
        transform: translate(65%);
    }
    #box-1 {
        transform: scale(0.12) translate(-90%, -330%);
    }
    #box-2 {
        transform: scale(0.12) translate(-215%, -330%);
    }
    #box-3 {
        transform: scale(0.12) translate(-340%, -330%);
    }
    #box-4 {
        transform: scale(0.12) translate(-90%, -400%);
    }
    #box-5 {
        transform: scale(0.12) translate(-215%, -400%);
    }
    #box-6 {
        transform: scale(0.12) translate(-340%, -400%);
    }
}
@media screen and (min-width: 64em) {
    #h1 {
        transform: translate(80%);
    }
    #box-1 {
        transform: scale(0.15) translate(-75%, -260%);
    }
    #box-2 {
        transform: scale(0.15) translate(-155%, -260%);
    }
    #box-3 {
        transform: scale(0.15) translate(-235%, -260%);
    }
    #box-4 {
        transform: scale(0.15) translate(-75%, -300%);
    }
    #box-5 {
        transform: scale(0.15) translate(-155%, -300%);
    }
    #box-6 {
        transform: scale(0.15) translate(-235%, -300%);
    }
}
@media screen and (min-width: 80em) {
    #sidebar {
        display: block;
        transform: scale(0.8);
    }
    #h1 {
        transform: translate(140%);
    }
    #box-1 {
        transform: scale(0.17) translate(0%, -220%);
    }
    #box-2 {
        transform: scale(0.17) translate(-60%, -220%);
    }
    #box-3 {
        transform: scale(0.17) translate(-120%, -220%);
    }
    #box-4 {
        transform: scale(0.17) translate(0%, -240%);
    }
    #box-5 {
        transform: scale(0.17) translate(-60%, -240%);
    }
    #box-6 {
        transform: scale(0.17) translate(-120%, -240%);
    }
}
@media screen and (min-width: 96.5em) {
    #sidebar {
        display: block;
        transform: scale(0.8);
    }
    #h1 {
        transform: translate(160%);
    }
    #box-1 {
        transform: scale(0.19) translate(20%, -190%);
    }
    #box-2 {
        transform: scale(0.19) translate(-30%, -190%);
    }
    #box-3 {
        transform: scale(0.19) translate(-80%, -190%);
    }
    #box-4 {
        transform: scale(0.19) translate(20%, -190%);
    }
    #box-5 {
        transform: scale(0.19) translate(-30%, -190%);
    }
    #box-6 {
        transform: scale(0.19) translate(-80%, -190%);
    }
}
@media screen and (min-width: 112.5em) {
    #sidebar {
        display: block;
        transform: scale(0.8);
    }
    #h1 {
        transform: translate(195%);
    }
    #box-1 {
        transform: scale(0.21) translate(20%, -180%);
    }
    #box-2 {
        transform: scale(0.21) translate(0%, -180%);
    }
    #box-3 {
        transform: scale(0.21) translate(-20%, -180%);
    }
    #box-4 {
        transform: scale(0.21) translate(20%, -180%);
    }
    #box-5 {
        transform: scale(0.21) translate(0%, -180%);
    }
    #box-6 {
        transform: scale(0.21) translate(-20%, -180%);
    }
}

body {
    background-color: #08030c;
}

@font-face {
    font-family: 'Mysteria-Nouveau';
    font-style: normal;
    src: url(../fonts/Mysteria-Nouveau.ttf);
}

#header {
    font-family: 'Mysteria-Nouveau';
    color: #9868e7;
    font-size: 65px;
    width: 100%;
    margin-bottom: -100px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#h1 {
    width: 400px;
}

#sidebar {
    position: fixed;
    left: -13px;
    top: -130px;
    z-index: 101;
    background: #2b193b;
    height: 1300px;
    width: 130px;
    font-size: 25px;
    overflow: hidden;
}
.option {
    left: 5px;
    border-radius: 20px;
    opacity: 70%;
    width: 120px;
}
.option:nth-child(1) {
    height: 100px;
    position: absolute;
    top: 300px;
}
.option:nth-child(2) {
    height: 160px;
    position: absolute;
    top: 513px;
}
.option:nth-child(3) {
    height: 100px;
    position: absolute;
    top: 800px;
}
.option img {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
#page2-img {
    height: 160px;
}
#page3-img {
    height: 90px;
}
.option:hover {
    opacity: 100%;
    background: #5e3780;
}
#page3 {
    opacity: 100%;
    background: #5e3780;
}

.container {
    height: 100vh;
    width: 88%;
    transform: translate(10%, 10%);
}
.box {
    background-color: #08030c;
    transform: scale(0.22) translate(0, -140%);
    position: absolute;
    pointer-events: none;
}
.box:nth-child(1) {
    left: -600px;
    opacity: 0%;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.box:nth-child(2) {
    left: -50px;
    opacity: 0%;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.box:nth-child(3) {
    left: 500px;
    opacity: 0%;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.box:nth-child(4) {
    left: -600px;
    top: 400px;
    opacity: 0%;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.box:nth-child(5) {
    left: -50px;
    top: 400px;
    opacity: 0%;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.box:nth-child(6) {
    left: 500px;
    top: 400px;
    opacity: 0%;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.box-txt {
    font-family: 'Mysteria-Nouveau';
    position: absolute;
    top: 65%;
    left: 28%;
    color: #000;
    font-size: 150px;
    white-space: nowrap;
}
#mosj {
    left: 17%;
}
.value {
    font-family: 'Mysteria-Nouveau';
    color: #000;
    font-size: 150px;
    position: absolute;
    top: 75%;
    left: 42%;
    white-space: nowrap;
}
img {
    pointer-events: none;
    user-select: none;
}

.pic {
    position: absolute;
    transform: scale(4) translate(-240px, 140px);
}
#pic3 {
    transform: scale(3.5) translate(-270px, 140px);
}
#pic5 {
    transform: scale(2.5) translate(-440px, 180px);
}

@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}