* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    background: #160d1e;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    body {
        height: 70vh;
        scrollbar-width: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    #btns {
        display: none;
    }
    #container {
        left: 0px;
        top: 100px;
    }
    #sidebar {
        display: none;
    }
    #purple {
        width: 75px;
        height: 75px;
        transform: translate(-50px, 70px);
    }
    #red {
        width: 75px;
        height: 75px;
        transform: translate(-120px, 70px);
    }
    #orange {
        width: 75px;
        height: 75px;
        transform: translate(-170px, 5px);
    }
    #yellow {
        width: 75px;
        height: 75px;
        transform: translate(-120px, -60px);
    }
    #green {
        width: 75px;
        height: 75px;
        transform: translate(-30px, -60px);
    }
    #blue {
        width: 75px;
        height: 75px;
        transform: translate(10px, 5px);
    }
    #purple-img {
        width: 75px;
        height: 75px;
        transform: translate(1px, 1px);
    }
    #red-img {
        width: 75px;
        height: 75px;
        transform: translate(2px, 1px);
    }
    #orange-img {
        width: 75px;
        height: 75px;
        transform: translate(1px, 1px);
    }
    #yellow-img {
        width: 75px;
        height: 75px;
        transform: translate(5px, 5px);
    }
    #green-img {
        width: 75px;
        height: 75px;
        transform: translate(0px, 1px);
    }
    #blue-img {
        width: 75px;
        height: 75px;
        transform: translate(1px, 1px);
    }
    #halfs {
        position: absolute;
        left: -25px;
        top: 50px;
        transform: scale(0.75);
    }
    #mei {
        transform: scale(0.75) translate(-140px, -40px);
    }
}

.container {
    width: 725px;
    height: 680px;
    position: absolute;
    top: 148px;
    left: 553px;
    border: 2px solid transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.half {
    width: 320px; 
    height: 160px;
    border-top: 22px solid #985ed1;
    border-left: 22px solid #985ed1; 
    border-right: 22px solid transparent;
    border-radius: 250px 250px 0 0;
    position: absolute;
    z-index: 110;
    left: 0px;
    top: 0px;
}

#half-circle1 {
    transform: rotate(225deg);
    top: 53px;
    left: 301px;
}

#half-circle2 {
    transform: rotate(294deg);
    top: 220px;
    left: 430px;
}

#half-circle3 {
    transform: rotate(0deg);
    top: 423px;
    left: 345px;
}

#half-circle4 {
    transform: rotate(115deg);
    top: 282px;
    left: -25px;
}

#half-circle5 {
    transform: rotate(45deg);
    top: 446.5px;
    left: 103px;
}

#half-circle6 {
    border-radius: 250px 250px 0 0;
    transform: rotate(180deg);
    top: 77px;
    left: 60px;
}

.fix {
    width: 300px; 
    height: 150px;
    border-right: 5px solid transparent;
    border-radius: 250px 250px 0 0;
    position: absolute;
    z-index: 120;
}

#fix1 {
    border-top: 5px solid transparent;
    border-left: 7px solid #160d1e; 
    transform: rotate(45deg);
    top: 468px;
    left: 112px;
}

/* #fix2 {
    border-top: 2px solid #fff;
    border-left: 7px solid #fff; 
    transform: rotate(180deg);
    top: 75px;
    left: 61px;
}

#fix3 {
    border-top: 7px solid #fff;
    border-left: 5px solid transparent; 
    transform: rotate(294deg);
    top: 231px;
    left: 460px;
} */

.circle {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    z-index: 20;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#purple {
    background: #aa93c6;
    top: 40px;
    left: 165px;
}

#red {
    background: #ed898d;
    top: 40px;
    left: 430px;
}

#green {
    background: #9bc666;
    top: 475px;
    left: 140px;
}

#yellow {
    background: #fde06e;
    top: 475px;
    left: 420px;
}

#blue {
    background: #648dc8;
    top: 250px;
    left: 20px;
}

#orange {
    background: #eb7e30;
    top: 250px;
    left: 555px;
}

img {
    height: 135px;
    width: 135px;
    transform: translate(8px, 7px);
}

.circle-btns {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    z-index: 200;
    opacity: 0%;
}

#purple-btn {
    top: 190px;
    left: 720px;
}

#red-btn {
    top: 190px;
    left: 985px;
}

#green-btn {
    top: 625px;
    left: 695px;
}

#yellow-btn {
    top: 625px;
    left: 975px;
}

#blue-btn {
    top: 400px;
    left: 575px;
}

#orange-btn {
    top: 400px;
    left: 1110px;
}

button {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#text-area1 {
    height: 0px;
    width: 0px;
    background: #160d1e;
    border: 10px solid #985ed1;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    left: 660px;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    color: #fff;
    font-size: 22px;
    padding: 20px;
    overflow: hidden;
}

#txt {
    opacity: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#txt > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: end;
    color: cyan;
}

#text-area1 > a:hover {
    text-decoration: underline;
}

#return {
    border: none;
    background: lightcoral;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #160d1e;
    position: relative;
    left: 440px;
    top: 30px;
    font-weight: 1000;
    border-radius: 100%;
    opacity: 0;
    transition-delay: 0.2s;
}

#return:hover {
    background: rgb(255, 180, 180);
}

#mei {
    height: 300px;
    width: 450px;
    position: absolute;
    top: 190px;
    left: 130px;
    z-index: 20;
    user-select: none;
    pointer-events: none;
}

img {
    user-select: none;
    pointer-events: none;
    transition-duration: 0.3s   ;
}

#sidebar {
    position: fixed;
    z-index: 1001;
    background: #2b193b;
    height: 100%;
    width: 75px;
    margin: -8px;
    font-size: 25px;
    padding-top: 15%;
    padding-left: 15px;
    overflow: hidden;
    transition: all 0.3s;
}

.option-link {
    position: absolute;
    border: 1px solid transparent;
    margin-top: 25px;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    opacity: 0%;
}

.bi {
    color: #fff;
    height: 50px;
    width: 50px;
    float: left;
}

.option {
    border: 1px solid transparent;
    border-radius: 15px;
    height: 60px;
    position: relative;
    top: -300px;
    margin-top: 170px;
    padding-bottom: 20px;
    opacity: 80%;
}

.option:hover {
    opacity: 100%;
}

#fest {
    transform: translate(-10px, -20px);
    padding: 12px;
    padding-left: 19px;
    padding-right: 13px;
}
#info {
    transform: translate(-20px, -20px);
    padding: 12px;
    padding-left: 30px;
    padding-right: 35px;
}
#market {
    transform: translate(-55px, -20px);
    padding: 12px;
    padding-left: 60px;
    padding-right: 58px;
}


#sidebar:hover {
    width: 300px;
}

#sidebar:hover + #darken {
    opacity: 30%;
    display: block;
}

#sidebar:hover .option-link {
    opacity: 80%;
    top: -5px;
    left: 10px;
    padding-top: 55px;
}
#sidebar:hover .bi {
    position: relative;
    left: 70px;
}
#sidebar:hover .option {
    border: 1px solid #985ed1;
    transform: scale(1.5);
    height: 100px;
    padding-top: 10px;
    width: 65%;
    left: 45px;
}
#sidebar:hover #info {
    left: 20px;
}
#sidebar:hover #market {
    left: 55px;
}

.option:hover {
    background: #985ed1;
}

#darken {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    z-index: 1000;
    top: 0%;
    left: 14.2%;
    opacity: 0%;
    transition-duration: 0.2s;
    display: none;
}
