* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    /* outline: 4px solid green !important; */
}

body {
    background: #160d1e;
    overflow: hidden;
}

/* @media screen and (min-width: 20em) {
    #body {
        height: 570px;
        width: 440px;
        overflow: hidden;
    }
    #btns {
        transform: scale(0.5) translate(-800px, 170px);
    }
    #purple-btn {
        transform: translate(-10px);
    }
    #red-btn {
        transform: translate(15px);
    }
    #orange-btn {
        transform: translate(20px, 40px);
    }
    #yellow-btn {
        transform: translate(5px, 55px);
    }
    #green-btn {
        transform: translate(10px, 55px);
    }
    #blue-btn {
        transform: translate(-15px, 40px);
    }
    #container {
        width: 390px;
        height: 480px;
        left: 10px;
        top: 100px;
    }
    #sidebar {
        display: none;
    }
    #purple {
        transform: translate(-140px, 10px) scale(0.5);
    }
    #red {
        transform: translate(-260px, 10px) scale(0.5);
    }
    #orange {
        transform: translate(-320px, -75px) scale(0.5);
    }
    #yellow {
        transform: translate(-260px, -180px) scale(0.5);
    }
    #green {
        transform: translate(-120px, -180px) scale(0.5);
    }
    #blue {
        transform: translate(-70px, -75px) scale(0.5);
    }
    #halfs {
        position: absolute;
        left: -50px;
        top: 50px;
        transform: scale(0.6);
    }
    #mei {
        transform: scale(0.6) translate(-320px, -140px);
    }
} */

.container {
    width: 725px;
    height: 680px;
    position: absolute;
    top: 148px;
    left: 553px;
    border: 2px solid transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.half {
    width: 320px; 
    height: 160px;
    border-top: 22px solid #985ed1;
    border-left: 22px solid #985ed1; 
    border-right: 22px solid transparent;
    border-radius: 250px 250px 0 0;
    position: absolute;
    z-index: 110;
    left: 0px;
    top: 0px;
}

#half-circle1 {
    transform: rotate(225deg);
    top: 53px;
    left: 301px;
}

#half-circle2 {
    transform: rotate(294deg);
    top: 220px;
    left: 430px;
}

#half-circle3 {
    transform: rotate(0deg);
    top: 423px;
    left: 345px;
}

#half-circle4 {
    transform: rotate(115deg);
    top: 282px;
    left: -25px;
}

#half-circle5 {
    transform: rotate(45deg);
    top: 446.5px;
    left: 103px;
}

#half-circle6 {
    border-radius: 250px 250px 0 0;
    transform: rotate(180deg);
    top: 77px;
    left: 60px;
}

.circle {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    z-index: 20;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#purple {
    background: #aa93c6;
    top: 40px;
    left: 165px;
}

#red {
    background: #ed898d;
    top: 40px;
    left: 430px;
}

#green {
    background: #9bc666;
    top: 475px;
    left: 140px;
}

#yellow {
    background: #fde06e;
    top: 475px;
    left: 420px;
}

#blue {
    background: #648dc8;
    top: 250px;
    left: 20px;
}

#orange {
    background: #eb7e30;
    top: 250px;
    left: 555px;
}

img {
    height: 135px;
    width: 135px;
    transform: translate(8px, 7px);
}

.circle-btns {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    z-index: 200;
    opacity: 0%;
}

#purple-btn {
    top: 190px;
    left: 720px;
}

#red-btn {
    top: 190px;
    left: 985px;
}

#green-btn {
    top: 625px;
    left: 695px;
}

#yellow-btn {
    top: 625px;
    left: 975px;
}

#blue-btn {
    top: 400px;
    left: 575px;
}

#orange-btn {
    top: 400px;
    left: 1110px;
}

button {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#text-area1 {
    height: 0px;
    width: 0px;
    background: #160d1e;
    border: 10px solid #985ed1;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    left: 660px;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    color: #fff;
    font-size: 22px;
    padding: 20px;
    overflow: hidden;
}

#txt {
    opacity: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#txt > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: end;
    color: cyan;
}

#text-area1 > a:hover {
    text-decoration: underline;
}

#return {
    border: none;
    background: lightcoral;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #160d1e;
    position: relative;
    left: 440px;
    top: 30px;
    font-weight: 1000;
    border-radius: 100%;
    opacity: 0;
    transition-delay: 0.2s;
}

#return:hover {
    background: rgb(255, 180, 180);
}

#mei {
    height: 300px;
    width: 450px;
    position: absolute;
    top: 190px;
    left: 130px;
    z-index: 20;
    user-select: none;
    pointer-events: none;
}

img {
    user-select: none;
    pointer-events: none;
    transition-duration: 0.3s   ;
}

#sidebar {
    position: fixed;
    left: -13px;
    top: -130px;
    z-index: 101;
    background: #2b193b;
    height: 1300px;
    width: 117px;
    font-size: 25px;
    overflow: hidden;
}
.option {
    left: 5px;
    border-radius: 20px;
    opacity: 70%;
    width: 120px;
    transform: scale(0.8);
}
.option:nth-child(1) {
    height: 100px;
    position: absolute;
    top: 360px;
}
.option:nth-child(2) {
    height: 160px;
    position: absolute;
    top: 524px;
}
.option:nth-child(3) {
    height: 100px;
    position: absolute;
    top: 760px;
}
.option img {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
#page2-img {
    height: 160px;
}
#page3-img {
    height: 90px;
}
.option:hover {
    opacity: 100%;
    background: #5e3780;
}
#page1 {
    opacity: 100%;
    background: #5e3780;
}